<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Efectos y animaciones con CSS</title>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<body>
	<header>
		<h1>Efectos y animaciones con CSS para cajas</h1>
	</header>
	<section>
		<div class="caja triangulo-movible">Triángulo movible</div>
		<div class="caja triangulo-fijo">Triángulo fijo</div>
		<div class="caja levantar-esquina-pagina">Levantar esquina página</div>
		<div class="caja sombra-fija">Sombra fija</div>
		<div class="caja sombra-difuminada">Sombra difuminada</div>
		<div class="caja sombra-radial">Sombre radial</div>
		<div class="caja sombra-externa">Sombra externa</div>
		<div class="caja iluminacion">Iluminación</div>
		<div class="caja transparencia">Transparencia</div>
		<div class="caja resalte-borde">Resalte borde</div>
		<div class="caja borde-interno">Borde interno</div>
		<div class="caja expansion-borde">Expansión borde</div>
		<div class="caja recogida-borde">Recogida borde</div>
		<div class="caja redondear-esquinas">Redondear esquinas</div>
		<div class="caja redondear-esquinas-opuestas">Redondear esquinas opuestas</div>
		<div class="caja elipse">Elipse</div>
		<div class="caja borde-inferior">Borde inferior</div>
		<div class="caja gradiente">Gradiente</div>
		<div class="caja flash">Flash</div>
		<div class="caja click">Click</div>
		<div class="caja chicle">Chicle</div>
		<div class="caja vibracion">Vibración</div>
		<div class="caja pendulo">Péndulo</div>
		<div class="caja inclinacion">Inclinación</div>
		<div class="caja balanceo">Balanceo</div>
		<div class="caja vaiven">Vaivén</div>
		<div class="caja descolgado">Descolgado</div>
		<div class="caja caida">Caída</div>
		<div class="caja despegue">Despegue</div>
		<div class="caja entrada-deslizando">Entrada deslizando</div>
		<div class="caja salida-deslizando">Salida deslizando</div>
		<div class="caja entrada-rodando">Entrada rodando</div>
		<div class="caja salida-rodando">Salida rodando</div>
		<div class="caja rebote">Rebote</div>
		<div class="caja rebote-pelota">Rebote pelota</div>
		<div class="caja rebote-izquierdo">Rebote izquierdo</div>
		<div class="caja rebote-derecho">Rebote derecho</div>
		<div class="caja rebote-arriba">Rebote arriba</div>
		<div class="caja rebote-abajo">Rebote abajo</div>
		<div class="caja hundimiento-hacia-atras">Hundimiento hacia atrás</div>
		<div class="caja giro">Giro</div>
		<div class="caja vueltas">Vueltas</div>
		<div class="caja revolucion">Revolución</div>
		<div class="caja aparicion">Aparición</div>
		<div class="caja aparicion-base"><p>Aparición con tapa</p><div class="aparicion-tapa"></div></div>
		<div class="caja llegada-rapida">Llegada rápida</div>
		<div class="caja retrocedida-rapida">Retrocedida rápida</div>
		<div class="caja volada-rapida">Volada rápida</div>
		<div class="caja salida-volando">Salida volando</div>
		<div class="caja colgando-desde-punta">Colgando desde punta</div>
		<div class="caja giro-x-3d">Giro X 3D</div>
		<div class="caja giro-y-3d">Giro Y 3D</div>
		<div class="caja ponerse-de-costado">Ponerse de costado</div>
		<div class="caja acostarse">Acostarse</div>
		<div class="caja acostarse-hacia-adelante">Acostarse hacia adelante</div>
		<div class="caja rotacion-hacia-adelante">Rotación hacia adelante</div>
		<div class="caja giro-hacia-adelante">Giro hacia adelante</div>
		<div class="caja paralelogramo">Paralelogramo</div>
		<div class="caja sesgos">Sesgos</div>
		<div class="caja traslaciones">Traslaciones</div>
		<div class="caja enloquecido">Enloquecido</div>
		<div class="caja baile-girasol">Baile girasol</div>
		<div class="caja achatamiento">Achatamiento</div>
	</section>
	<footer>Fabián Escobar</footer>
</body>

</html>